Makefile
config.guess
obelisk_config.h
*.swp
*.in
depcomp
.libs
.deps
INSTALL
aclocal.m4
autom4te.cache
config.log
config.status
config.sub
configure
install-sh
libtool
ltmain.sh
missing
stamp-h1
*.o
obelisk
tags
